<a href="https://colab.research.google.com/github/CarineMS/Data_Science/blob/main/DataScienceHandsOn_InfoEstatisticas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Projeto Data Science**

by Carine Soares

---

<h1>Informações Estatísticas Projeto +BIKE</h1>

Utilizar a biblioteca Pandas para a análise estatística é uma estratégia eficiente.

<center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png" height="150px"></center>

Para conhecer algumas das principais funções do Pandas, vou utilizar o *dataset* do projeto **[+BIKE](http://maisbikecompartilhada.com.br)**, que distribui bicicletas em pontos estratégicos de Brasília-DF, oferecendo uma solução de transporte que contribui com a mobilidade das pessoas na capital.

<center><img src="https://www.agenciabrasilia.df.gov.br/wp-conteudo/uploads/2018/05/mais-bike-gabriel-jabur-agencia-brasilia-960x540.jpg" height="300px"></center>

In [ ]:
# importar os pacotes necessários
import pandas as pd

#importar(ler) o dataset "biblioteca.funcao_formato("end")"
df = pd.read_csv("http://dl.dropboxusercontent.com/s/yyfeoxqw61o3iel/df_rides.csv")

In [ ]:
# ver as cinco primeiras entradas do dataset
df.head()

  user_gender user_birthdate  ... ride_duration ride_late
0           M     1971-06-08  ...     16.250000       0.0
1           M     1989-02-11  ...      5.266667       0.0
2           M     1968-07-19  ...     15.400000       0.0
3           M     1991-12-19  ...      5.866667       0.0
4           M     1969-03-03  ...    641.133333       1.0

[5 rows x 10 columns]

### Resumo das informações estatísticas
* **count** - qnt
* **mean** - média
* **std** - desvio padrao
* **min** - mínimo
* **25%** - percentil 25
* **50%** - percentil 50/ mediana
* **median** - mediana
* **75%** - pecentil 75
* **max** - máximo

In [ ]:
# verificando informações básicas do df
#df.info()
df.describe()

       ride_duration      ride_late
count  214148.000000  214148.000000
mean       29.915932       0.098829
std        58.857297       0.298433
min         3.000000       0.000000
25%         8.083333       0.000000
50%        14.200000       0.000000
75%        33.766667       0.000000
max       999.600000       1.000000

In [ ]:
# ver a média da coluna ride_duration "dataframe.coluna.funcao()"
df.ride_duration.mean()

29.915931894453134

In [ ]:
# ver a mediana dos meus_dados = [1,1,2,4,9]
pd.Series([1,1,2,4,9]).median()

2.0

### Desvio Padrão

In [ ]:
# calcular o desvio padrão para ride_duration
df.ride_duration.std()

58.85729654164017

In [ ]:
# valor máximo ride_duration
df.ride_duration.max()

999.6

In [ ]:
# valor mínimo ride_duration
df.ride_duration.min()

3.0